[Unit]
Description=Check for PolyOS updates
Documentation=file:///usr/lib/polyos/polyos/autoupdate.py
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/polyos/polyos-admin auto-update check
Nice=5
