[Desktop Entry]
Type=Application
Name=Files
GenericName=File Manager
Comment=Browse and organize your files
Exec=polyos-ctl open files %U
Icon=polyos-files
Terminal=false
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
Keywords=folder;explorer;finder;documents;
StartupWMClass=polyos-files
OnlyShowIn=PolyOS;
